<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
 
        <title>Top items - master 0</title>
 
        <!-- CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ plugin_path('ItList') }}/js/prodImage.js"></script>
        <link rel="stylesheet" href="{{ plugin_path('ItList') }}/css/common.css">

    </head>
    <body>
        <div id="page-body">
            <div id="subBody">
            {% block PageBody %}
                <!-- inserts content of ItList.twig here -->
            {% endblock %}
            </div>
        </div>
    </body>
</html>

